* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-app-region: drag;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  color: white;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto 10%;
  grid-template-areas:
    'middle-area middle-area'
    'footer footer';
}

ul {
  list-style-type: none;
  padding-left: 50px;
}

li {
  cursor: pointer;
}

li:hover {
  background-color: lightgrey;
  color: black;
}

.middle-area {
  background-color: rgb(0, 22, 40);
  grid-area: middle-area;
  height: 76vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  background-color: black;
  grid-area: footer;
  height: 24vh;
  width: 100%;
  display: flex;
  align-content: flex-start;
}

.controls {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.buttons > span > img {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.progress {
  padding-top: 5px;
}

#progress-value {
  width: 100%;
}

.album-cover {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.album-cover > img {
  height: 24vh;
}

.button {
  display: block;
  margin: 30px auto;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #2ecc71;
  color: #ecf0f1;

  transition: background-color 2s;
}

.button {
  -webkit-app-region: no-drag;
  position: relative;

  display: block;
  margin: 30px auto;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: rgb(192, 57, 43);
  color: #ecf0f1;

  transition: background-color 2s;
}

.button:hover,
.button:focus {
  background-color: rgb(192, 57, 43);
}

.button > * {
  position: relative;
}

.button span {
  display: block;
  padding: 12px 24px;
}

.button:before {
  content: '';

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.1s ease-out, padding-top 0.1s ease-out;
}

.current-song {
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.current-song > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.current-song > div > span:nth-child(1) {
  margin-bottom: 1%;
  margin-top: 1%;
}

audio {
  display: none;
}
