/** GENERAL RULES */

* {
  margin: 0;
  padding: 0;
}

audio {
  display: none;
}

::-webkit-scrollbar {
  height: 12px;
  width: 4px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(244, 143, 177);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

body {
  -webkit-app-region: drag;
  -webkit-font-smoothing: antialiased;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  color: white;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  grid-template-areas: 'middle-area middle-area' 'footer footer';
  height: 100vh;
  width: 100vw;
}

.middle-area {
  background-color: rgb(0, 22, 40);
  grid-area: middle-area;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  -webkit-app-region: no-drag;
  position: relative;

  display: block;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: rgb(192, 57, 43);
  color: #ecf0f1;

  transition: background-color 2s;
}

.button:hover,
.button:focus {
  background-color: rgb(192, 57, 43);
}

.button > * {
  position: relative;
}

.button span {
  display: block;
  padding: 12px 24px;
}

.button:before {
  content: '';

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.1s ease-out, padding-top 0.1s ease-out;
}

.search {
  background: transparent;
  border: none;
  height: 20px;
  width: 200px;
  color: lightgrey;
  text-align: center;
  margin: 5px 0 5px 0;
}

.search:hover:enabled,
.search:focus:enabled {
  outline: none;
  border: 1px solid rgb(244, 143, 177);
  border-radius: 5px;
  margin: 4px 0 4px 0;
}

.sort-by {
  display: flex;
  justify-content: space-evenly;
}

.sort-by > div:hover {
  cursor: pointer;
  user-select: none;
  font-weight: 900;
}

.sorted::after {
  content: '';
  border-radius: 50%;
  height: 9px;
  width: 9px;
  background-color: #007f3f;
  display: inline-block;
  margin-left: 2px;
}

#songs {
  max-height: 380px;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: nowrap;
  flex-flow: wrap;
  display: flex;
  justify-content: space-evenly;
  margin-left: 5px;
}

#songs > div {
  float: left;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#songs > div:hover {
  cursor: pointer;
  background-color: lightgray;
}

#songs > div > div {
  width: 33%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#songs > div > div:first-child {
  width: 465px;
}

#songs > div > div:nth-child(2) {
  padding-left: 10px;
  margin-right: 10px;
}

footer {
  background-color: black;
  grid-area: footer;
  height: 20vh;
  width: 100%;
  display: flex;
  align-content: flex-start;
}

.album-cover {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.album-cover > img {
  height: 120px;
}

.controls {
  width: 100%; /** container 100% */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

progress {
  height: 5px;
  display: block;
  background: rgb(0, 22, 40);
}

progress::-moz-progress-bar {
  background: rgb(0, 22, 40);
}

progress::-webkit-progress-bar {
  background: transparent;
}

progress::-webkit-progress-value {
  border-radius: 15px;
  background: rgb(244, 143, 177);
}

.buttons {
  width: 86%;
  display: flex;
  justify-content: space-evenly;
}

.buttons > span > img {
  -webkit-app-region: no-drag;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

#pause {
  display: none;
}

#repeat-active {
  display: none;
}

#shuffle-active {
  display: none;
}

.progress {
  padding-top: 5px;
  cursor: pointer;
}

#progress-value {
  width: 100%;
}

.current-song > div > img {
  -webkit-app-region: no-drag;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.current-song {
  width: 86%;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.current-song > .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.current-song > .info > span:nth-child(1) {
  margin-bottom: 1%;
  margin-top: 1%;
}

/** At the bottom to ensure elements are hidden per default */
.hidden {
  display: none;
}
